body {
    justify-content: center;
    background-color: #3aafa8;
}

.title {
    font-family: sans-serif;
    color: #feffff;
    padding: 30px;
    background-color: #17252a;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 150%;
    box-shadow: 0px 0px 20px rgba(43, 122, 120, 1);
}

.title h1 {
    text-align: center;
    margin: auto;
}

.formContainer {
    background-color: #17252a;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px rgba(43, 122, 120, 1);
}

.formInput {
    margin-top: 5%;
    margin-bottom: 5%;
}

.formInput input[type="text"] {
    font-size: 150%;
    padding: 10px
}

.buttonContainer {
    text-align: center;
}

.buttonContainer button {
    font-size: 150%;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.result h3 {
    text-align: center;
    font-size: 150%;
}